body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: maroon;
}

.container{
    background-color: white;
    width: 440px;
    height: 440px;
    margin: auto;
    text-align: center;
}
#name{
    height: 40px;
    width: 400px;
    border: 2px solid black;
    text-align: center;
    margin: 20px 0px;
    border-radius: 20px;
}
#age{
    height: 40px;
    width: 400px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0px;
}
#btn{
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}